<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="map-container">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1080 1618" xml:space="preserve">
                    <g id="background_map">
                        <rect class="map-background" width="1080" height="1618"/>
                        <path class="park" d="M534.8,771.2c-5.6,1.4-10.6,2.7-14.8,3.8c-34,9-42-22-59-50s-38-90-73.9-108.5l-39.2-2.5
                            c-7.3,52.8-1.7,111.9,22.1,185.9c52,161.2,205,327,205,327L560,929L534.8,771.2z"/>
                    </g>
                    <g id="water">
                        <path class="water" d="M723.5,1254.5c65,22,182.9,76.9,247,141c22,22,109.5,73.9,109.5,73.9V1431c0,0-111.5-82.5-163.5-121.5
                            s-210-96-251-138s-71-44-86-173s-72-477-52-540s71-98,147-93s138,14,181-37S1057,0,1057,0h-49.3c0,0-144.7,274-170.7,308
                            s-71,40-166,29s-187.5,78.5-181.5,173.5c4.5,71.3,54.6,425.4,79.4,597.6C539.7,1044.4,500.7,968.7,450,874
                            c-123.5-230.5-49-360,45-493S529,135,601,0h-63c-72,135-20,240-114,373s-161,269-45,499s158,339,170,445s-84,301-84,301h80
                            c0,0,105-187,93-293c-0.3-2.6-0.6-5.2-1-7.8c5.3,1.5,11.9,3.8,17,6.8c10,6,14,15,28,24s66,38,75,42s21,2,28,7s40.9,33,63,57.5
                            s34,37.5,35,47.5s1,30,31,37s166,50.3,166,50.3V1573c0,0-35.5-12.5-42.5-12.5s-17-10-27-11s-17-23-31-24s-25,14-43,9s-38-22-37-32
                            s7.7-27.2,0-31c-4-2-7,13-10,14s-30-32-44-50s-33-36-42-36s-26-11-32-19s-62-36-77-44s-22-5-33-11c-7.1-3.9-18.4-11.1-25.5-15.7
                            c-4.6-30.8-12.8-62.9-25.1-98.7l-11.3-64.6C599.5,1146.5,658.5,1232.5,723.5,1254.5z"/>
                    </g>
                    <g id="bridges">
                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_BELLE_LIEGEOISE)">
                            <circle cx="380" cy="850" r="45" fill="transparent"/>
                            <circle cx="470" cy="790" r="35" fill="transparent"></circle>
                            <path class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_BELLE_LIEGEOISE}" d="M371,868c0,0,43-30,53-37s62-36,62-36l-1-2l-58.2,33.7l12.2-10.3l-2-1.4l-67,52L371,868z"/>
                            <path class="bridge-pointer" d="M371,868c0,0,43-30,53-37s62-36,62-36l-1-2l-58.2,33.7l12.2-10.3l-2-1.4l-67,52L371,868z"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_ALBERT_1)">
                            <circle cx="352" cy="606" r="45" fill="transparent"></circle>
                            <path class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_ALBERT_1}" d="M316,605c0,0,42,3,73,12l3-14c0,0-43.1-6.4-74.5-10.2L316,605z"/>
                            <path class="bridge-pointer" d="M316,605c0,0,42,3,73,12l3-14c0,0-43.1-6.4-74.5-10.2L316,605z"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_JF_KENNEDY)">
                            <circle cx="496" cy="306" r="45" fill="transparent"/>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_JF_KENNEDY}" points="459,298 529,328 534,318 463,288 	"/>
                            <polygon class="bridge-pointer" points="459,298 529,328 534,318 463,288 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_SAUCY)">
                            <circle cx="527" cy="133" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_SAUCY}" points="495,125 562,147 563,142 496,121 	"/>
                            <polygon class="bridge-pointer" points="495,125 562,147 563,142 496,121 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_ARCHE)">
                            <circle cx="569" cy="11" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_ARCHE}" points="536.6,2.6 538,0 553.9,0 594,22 589,30 	"/>
                            <polygon class="bridge-pointer" points="536.6,2.6 538,0 553.9,0 594,22 589,30 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_FRAGNE)">
                            <circle cx="576" cy="1237" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_FRAGNE}" points="531,1244 616,1217 619,1228 535,1254 	"/>
                            <polygon class="bridge-pointer" points="531,1244 616,1217 619,1228 535,1254 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_CHEMIN_FER)">
                            <polygon fill="transparent" points="510,1400 600,1390 650,1450 650,1480 510,1435 	"></polygon>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_CHEMIN_FER}" points="537,1414 624,1444 623,1446 536,1417 	"/>
                            <polygon class="bridge-pointer" points="537,1414 624,1444 623,1446 536,1417 	"/>
                            <polygon class="bridge-pointer" points="535.5,1418.5 622.5,1448.5 621.5,1450.5 534.5,1421.5 	"/>
                            <polygon class="bridge-pointer" points="534.5,1422.5 621.5,1452.5 620.5,1454.5 533.5,1425.5 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_LIEGE)">
                            <polygon fill="transparent" points="620,1475 505,1456 513,1492 550,1520 605,1505 	"></polygon>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_LIEGE}" points="609,1483 522,1466 518,1482 604,1498 	"/>
                            <polygon class="bridge-pointer" points="609,1483 522,1466 518,1482 604,1498 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_BELLE_ILE)">
                            <circle cx="1000" cy="1397" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_BELLE_ILE}" points="995,1418 1021,1383 1014,1379 988,1414 	"/>
                            <polygon class="bridge-pointer" points="995,1418 1021,1383 1014,1379 988,1414 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_NAMUR)">
                            <circle cx="818" cy="1275" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_NAMUR}" points="818,1296 826,1257 822,1255.9 814,1295 	"/>
                            <polygon class="bridge-pointer" points="818,1296 826,1257 822,1255.9 814,1295 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_FETINNE)">
                            <circle cx="660" cy="1190" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_FETINNE}" points="651,1210 678,1179 670,1172 644,1203 	"/>
                            <polygon class="bridge-pointer" points="651,1210 678,1179 670,1172 644,1203 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_MATIVA)">
                            <circle cx="575" cy="1015" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_MATIVA}" points="554,1019 584,1016 583,1013 554,1016 	"/>
                            <polygon class="bridge-pointer" points="554,1019 584,1016 583,1013 554,1016 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_PARC)">
                            <circle cx="540" cy="765" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_PARC}" points="520,775 550,768 549,758 518,765 	"/>
                            <polygon class="bridge-pointer" points="520,775 550,768 549,758 518,765 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_HUY)">
                            <circle cx="500" cy="580" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_HUY}" points="530,592 495,593 494,582 530,581 	"/>
                            <polygon class="bridge-pointer" points="530,592 495,593 494,582 530,581 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_LONGDOZ)">
                            <circle cx="571" cy="375" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_LONGDOZ}" points="576,391 558,367 568,360 586,385 	"/>
                            <polygon class="bridge-pointer" points="576,391 558,367 568,360 586,385 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_AMERCOEUR)">
                            <circle cx="852" cy="310" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_AMERCOEUR}" points="862,323 835,305 841,297 868,315 	"/>
                            <polygon class="bridge-pointer" points="862,323 835,305 841,297 868,315 	"/>
                        </g>

                        <g (click)="handlePointerClick($event, BridgesNameEnum.PONT_BRESSOUX)">
                            <circle cx="985" cy="85" r="45" fill="transparent"></circle>
                            <polygon class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BridgesNameEnum.PONT_BRESSOUX}" points="1006,91 969,68 963,79 1000,101 	"/>
                            <polygon class="bridge-pointer" points="1006,91 969,68 963,79 1000,101 	"/>
                        </g>

                    </g>
                    <g id="building">
                        <g (click)="handlePointerClick($event, BuildingNameEnum.RSNM)">
                            <circle cx="440" cy="835" r="45" fill="transparent"></circle>
                            <circle class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BuildingNameEnum.RSNM }" cx="439" cy="834" r="22.5"/>
                            <circle class="building-pointer" cx="439" cy="834" r="10"/>
                        </g>
                        <g (click)="handlePointerClick($event, BuildingNameEnum.MEDIACITE)">
                            <circle cx="550" cy="598" r="45" fill="transparent"></circle>
                            <circle class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BuildingNameEnum.MEDIACITE }" cx="530" cy="598" r="22.5"/>
                            <circle class="building-pointer" cx="530" cy="598" r="10"/>
                        </g>
                        <g (click)="handlePointerClick($event, BuildingNameEnum.UNL)">
                            <circle cx="530" cy="1031" r="45" fill="transparent"></circle>
                            <circle class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BuildingNameEnum.UNL }" cx="530" cy="1031" r="22.5"/>
                            <circle class="building-pointer" cx="530" cy="1031" r="10"/>
                        </g>
                        <g (click)="handlePointerClick($event, BuildingNameEnum.CONFLUENT)">
                            <circle cx="569" cy="1107.8" r="45" fill="transparent"></circle>
                            <circle class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BuildingNameEnum.CONFLUENT }" cx="569" cy="1107.8" r="22.5"/>
                            <circle class="building-pointer" cx="569" cy="1107.8" r="10"/>
                        </g>
                        <g (click)="handlePointerClick($event, BuildingNameEnum.MAMAC)">
                            <circle cx="535" cy="883" r="45" fill="transparent"></circle>
                            <circle class="pointer-shadow" [ngClass]="{'-visible': pointerFocusName === BuildingNameEnum.MAMAC }" cx="535" cy="883" r="22.5"/>
                            <circle class="building-pointer" cx="535" cy="883" r="10"/>
                        </g>
                    </g>
                </svg>
            </div>
        </div>
    </div>
</div>

<ng-container *ngIf="!(isRecording$ | async)">
    <ng-container  *ngIf="selectedItem$ | async as item">
        <div class="map-overlay" (click)="clearSelection()"></div>
        <div #pointerTooltip class="pointer-info-tooltip">
            <span class="block text-base font-medium text-grey-08">{{ item.name }}</span>
            <p>{{ item.description }}</p>
        </div>
    </ng-container>
</ng-container>

