.map-container {
    @apply pt-12 pb-8 h-screen relative;

    svg {
        @apply h-full m-auto;

        .map-background{
            fill:var(--color-map-background);
        }

        .park{
            fill:var(--color-park);
        }

        .water{
            fill:var(--color-water);
        }

        .bridge-pointer{
            fill: var(--color-bridge);
            stroke: var(--color-bridge);
            stroke-linejoin: round;

            transition-property: stroke-width;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;

            @apply cursor-pointer;
            &:hover, &:focus {
                stroke-width: 2.5rem;
            }
        }

        .building-pointer {
            fill: var(--color-building);
            @apply cursor-pointer relative;

            transition-property: r;
            transition-duration: 250ms;
            transition-timing-function: ease-in-out;

            &:hover, &:focus {
                r: 20;
            }

            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 150%;
                height: 150%;
                background-color: red;
            }
        }

        polygon,path {
            &.pointer-shadow {
                stroke: var(--color-accent-dark);
                stroke-linejoin: round;
                &.-visible {
                    stroke-width: 2.5rem;
                }
            }
        }

        .pointer-shadow {
            fill: transparent;

            &.-visible {
                fill:  var(--color-accent-dark);
                opacity: 0.6;
            }
        }

    }
}

.pointer-info-tooltip {
    @apply rounded bg-grey-00 p-4 shadow-md fixed z-10;
}


.map-overlay {
    @apply z-10 fixed h-screen w-screen opacity-0;
}
