<button class="button" [type]="isSubmitType ? 'submit' : 'button'" [ngClass]="classes" (click)="buttonClicked($event)">
  @if (iconPlacement === DS_button_icon_placement_Enum.before.toString() || iconPlacement === DS_button_icon_placement_Enum.center.toString()) {
    <ng-container
      [ngTemplateOutlet]="iconTemplate">
    </ng-container>
  }

  @if (!!label) {
    <span class="button__label">
      {{ label.label | translate: label.param }}
    </span>
  }

  @if (iconPlacement === DS_button_icon_placement_Enum.after) {
    <ng-container [ngTemplateOutlet]="iconTemplate">
    </ng-container>
  }

  <ng-template #iconTemplate>
    @if (!!icon) {
      <ds-icon [icon]="icon"></ds-icon>
    }
  </ng-template>
</button>
