<div class="bg-grey-00 fixed top-0 left-0 right-0 h-screen overflow-y-auto pb-6 w-screen z-[1000]">
    <div class="p-4 bg-grey-00 w-full flex justify-center">
        <button class="icon-button ml-2 text-grey-05 hover:bg-grey-02 hover:text-grey-06" type="button" (click)="closeHelp()">
            <ds-icon [icon]="DS_IconsEnum.close" ></ds-icon>
        </button>
    </div>
    <div class="container">
        <div class="row pb-8">
            <div class="col-12">
                <h1 class="text-lg text-center font-medium text-brand-darker">
                    {{ 'PLAN.HELP.TITLE' | translate }}
                </h1>
            </div>
        </div>
        <!-- PRESENTATION -->
        <div class="row pb-5">
            <div class="col-12">
                <div class="w-full text-base text-center text-brand-dark uppercase font-medium border-b border-solid border-brand-primary pb-1 mb-3">
                    {{ 'PLAN.HELP.PRESENTATION.TITLE' | translate }}
                </div>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    <span class="f-medium text-brand-darker">
                        {{ 'PLAN.HELP.PRESENTATION.PARAGRAPH_1.APP_NAME' | translate }}
                    </span>
                    {{ 'PLAN.HELP.PRESENTATION.PARAGRAPH_1.PART_1' | translate }}
                    <a href="https://www.rsnm.be/" target="_blank" class="f-medium text-brand-darker">
                        {{ 'PLAN.HELP.PRESENTATION.PARAGRAPH_1.CLUB_NAME' | translate }}
                    </a>
                    {{ 'PLAN.HELP.PRESENTATION.PARAGRAPH_1.PART_2' | translate }}
                </p>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.PRESENTATION.PARAGRAPH_2.PART_1' | translate }}
                </p>
            </div>
        </div>

        <div class="row pb-5">
            <!-- HOW DOES IT WORK -->
            <div class="col-12">
                <div class="w-full text-base text-center text-brand-dark uppercase font-medium border-b border-solid border-brand-primary pb-1 mb-3">
                    {{ 'PLAN.HELP.HOW_IT_WORK.TITLE' | translate }}
                </div>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.PARAGRAPH_1.PART_1' | translate }}
                </p>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.PARAGRAPH_1.PART_2' | translate }}
                </p>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.PARAGRAPH_1.PART_3' | translate }}
                </p>
                <!-- LEGEND -->
                <div class="py-2 w-full">
                    <div class="flex items-center justify-center w-full">
                        <div class="w-1/4 mr-2">
                            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 800 800">
                                <circle class="pointer-shadow"  [ngClass]="{'-visible': buildingPointerClicked}" cx="400" cy="400" r="283"/>
                                <circle [attr.data-legend-building-marker]="true" class="building-pointer" cx="400" cy="400" r="200"/>
                            </svg>
                        </div>
                        <p class="w-full text-sm text-grey-06">
                            {{ 'PLAN.HELP.HOW_IT_WORK.LEGEND.BUILDING' | translate }}
                        </p>
                    </div>
                    <div class="flex items-center justify-center w-full">
                        <div class="w-1/4 mr-2">
                            <svg class="w-full"  version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                viewBox="0 0 800 800" style="enable-background:new 0 0 800 800;" xml:space="preserve">
                                <rect class="pointer-shadow"  [ngClass]="{'-visible': bridgePointerClicked}" x="44.6" y="361" transform="matrix(-0.8482 0.5297 -0.5297 -0.8482 951.1564 527.3837)" width="710.8" height="78"/>
                                <rect [attr.data-legend-bridge-marker]="true" class="bridge-pointer" x="44.6" y="361" transform="matrix(-0.8482 0.5297 -0.5297 -0.8482 951.1564 527.3837)" width="710.8" height="78"/>
                            </svg>
                        </div>
                        <p class="w-full text-sm text-grey-06">
                            {{ 'PLAN.HELP.HOW_IT_WORK.LEGEND.BRIDGE' | translate }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-2">
            <!-- RECORD JOURNEY -->
            <div class="col-12">
                <div class="w-full text-sm text-center text-brand-dark uppercase font-medium border-b border-solid border-brand-primary pb-1 mb-3">
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.TITLE' | translate }}
                </div>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_1.PART_1' | translate }}
                    <button class="icon-button inline text-brand-light hover:bg-brand-lighter hover:text-brand-primary" type="button">
                        <ds-icon [icon]="DS_IconsEnum.journey" ></ds-icon>
                    </button>
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_1.PART_2' | translate }}
                </p>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_2.PART_1' | translate }}
                    <button class="icon-button inline text-danger-primary hover:bg-danger-lighter hover:text-danger-dark" type="button">
                        <ds-icon [icon]="DS_IconsEnum.stop" ></ds-icon>
                    </button>
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_2.PART_1_1' | translate }}
                    <span class="w-full block text-sm text-grey-06 text-center py-2">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_2.PART_1_2' | translate }}
                    </span>
                    <button type="button" class="f-medium text-brand-darker" (click)="toggleStepExplanation(true)">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_2.STEPS' | translate }}
                    </button>
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_2.PART_2' | translate }}
                </p>
                <!-- STEP EXPLANATION -->
                <div class="my-2 p-2 rounded bg-action-lighter relative" *ngIf="isStepExplanationShowed">
                    <button type="button" class="icon-button --small inline text-brand-light hover:bg-brand-lighter hover:text-brand-primary absolute top-2 right-2"
                        (click)="toggleStepExplanation()"
                    >
                        <ds-icon [icon]="DS_IconsEnum.close"></ds-icon>
                    </button>
                    <div class="text-base font-medium text-brand-dark pb-2 w-full">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.STEP_EXPLANATION.TITLE' | translate }}
                    </div>
                    <p class="text-sm text-grey-06 w-full pb-2">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.STEP_EXPLANATION.SHORT' | translate }}
                    </p>
                    <p class="text-sm text-grey-05 w-full">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.STEP_EXPLANATION.DETAILED_1' | translate }}
                    </p>
                    <p class="text-sm text-grey-05 w-full pb-1">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.STEP_EXPLANATION.DETAILED_2' | translate }}
                    </p>
                    <p class="text-sm text-grey-05 w-full">
                        {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.STEP_EXPLANATION.DETAILED_3' | translate }}
                    </p>
                </div>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.RECORD_JOURNEY.PARAGRAPH_2.PART_3' | translate }}
                </p>
            </div>
        </div>
        <!-- JOURNEY ENCODER ELEMENT BY ELEMENT -->
        <div class="row pt-3">
            <div class="col-12">
                <div class="w-full text-sm text-center text-brand-dark uppercase font-medium border-b border-solid border-brand-primary pb-1 mb-3">
                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.TITLE' | translate }}
                </div>
                <p class="w-full text-sm text-grey-06 text-center pb-2">
                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.DESCRIPTION' | translate }}
                </p>
                <ul>
                    <!-- JOURNEY_ENCODER HEAD -->
                    <li>
                        <div class="w-full text-xs text-brand-dark uppercase font-medium pb-1 mb-3">
                            {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.HEAD.NAME' | translate }}
                        </div>
                        <div class="p-2 rounded bg-action-lighter relative mb-2">
                            <div class="rounded-t bg-grey-00 pt-2 pb-1 px-3">
                                <div class="flex items-center border-b border-solid border-brand-lighter pb-1 mb-2">
                                    <div class="text-base font-medium text-grey-08 w-full">
                                        {{ 'PLAN.RECORD_JOURNEY.TITLE' | translate }}
                                    </div>
                                    <button
                                        class="icon-button --small text-action-dark hover:bg-action-lighter hover:text-action-darker"
                                        type="button">
                                        <ds-icon [icon]="DS_IconsEnum.plus"></ds-icon>
                                    </button>
                                </div>
                            </div>

                            <p class="text-sm text-grey-06 w-full pb-2 pt-1">
                                {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.HEAD.TITLE' | translate }}
                            </p>
                            <p class="text-sm text-grey-06 w-full pb-2">
                                {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.HEAD.ADD_BUTTON.PART_1' | translate }}
                                <button class="icon-button inline --small text-action-dark hover:bg-action-lighter hover:text-action-darker" type="button">
                                    <ds-icon [icon]="DS_IconsEnum.plus"></ds-icon>
                                </button>.
                                <br>
                                {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.HEAD.ADD_BUTTON.PART_2' | translate }}
                            </p>
                        </div>
                    </li>
                    <!-- JOURNEY_ENCODER - STEP ENCODER -->
                    <li>
                        <div class="w-full text-xs text-brand-dark uppercase font-medium pb-1 mt-4 mb-3">
                            {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.NAME' | translate }}
                        </div>
                        <div class="p-2 rounded bg-action-lighter relative mb-2">

                            <div class="px-3 py-2 bg-grey-00 mb-1">
                                <app-encode-stage-row [stage]="stageHelpDemo" [index]="1"></app-encode-stage-row>
                            </div>


                            <!-- INDEX -->
                            <div class="pb-2">
                                <p class="text-sm text-grey-06 w-full pb-2">
                                    <button type="button" class="inline rounded-full text-xs text-brand-primary p-2 bg-brand-lighter mr-1">1</button>
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.INDEX.PART_1' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full pb-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.INDEX.PART_2' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full pb-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.INDEX.PART_3' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.INDEX.PART_4' | translate }}
                                </p>
                            </div>
                            <!-- SEPARATOR -->
                            <div class="w-full px-4 pb-2">
                                <div class="w-full border-b border-solid border-brand-lighter"></div>
                            </div>
                            <!-- STEP-- START -->
                            <div class="pb-2">
                                <div class="w-1/3">
                                    <label for="stage_start_HELP_DEMO" class="textfield">
                                        <input class="textfield__field" [placeholder]="'PLAN.RECORD_JOURNEY.PLACEHOLDER.START' | translate" readonly type="text" id="stage_start_HELP_DEMO">
                                    </label>
                                </div>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.START.PART_1' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.START.PART_2' | translate }}
                                </p>
                                <div class="w-1/3">
                                    <label for="stage_start_HELP_DEMO_1" class="textfield">
                                        <input class="textfield__field" value="RSNM" readonly type="text" id="stage_start_HELP_DEMO_1">
                                    </label>
                                </div>
                                <p class="text-sm text-grey-06 w-full pt-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.START.PART_3' | translate }}
                                </p>
                            </div>
                            <!-- SEPARATOR -->
                            <div class="w-full px-4 pb-2">
                                <div class="w-full border-b border-solid border-brand-lighter"></div>
                            </div>
                            <!-- STEP-- END -->
                            <div class="pb-2">
                                <div class="w-1/3">
                                    <label for="stage_end_HELP_DEMO" class="textfield">
                                        <input class="textfield__field" [placeholder]="'PLAN.RECORD_JOURNEY.PLACEHOLDER.END' | translate" readonly type="text" id="stage_end_HELP_DEMO">
                                    </label>
                                </div>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.END.PART_1' | translate }}
                                </p>
                                <div class="w-1/3">
                                    <label for="stage_end_HELP_DEMO_1" class="textfield">
                                        <input class="textfield__field" value="RSNM" readonly type="text" id="stage_end_HELP_DEMO_1">
                                    </label>
                                </div>
                            </div>
                            <!-- SEPARATOR -->
                            <div class="w-full px-4 pb-2">
                                <div class="w-full border-b border-solid border-brand-lighter"></div>
                            </div>
                            <!-- COUNT -->
                            <div class="pb-2">
                                <div class="w-1/4">
                                    <label for="stage_count_HELP_DEMO" class="textfield -no-arrows">
                                        <span class="textfield__suffix">x</span>
                                        <input class="textfield__field" type="number" id="stage_count_HELP_DEMO">
                                    </label>
                                </div>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.COUNT.PART_1' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.COUNT.PART_2' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.COUNT.PART_3' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.COUNT.PART_4' | translate }}
                                </p>
                            </div>
                            <!-- SEPARATOR -->
                            <div class="w-full px-4 pb-2">
                                <div class="w-full border-b border-solid border-brand-lighter"></div>
                            </div>
                            <!-- ROTATION -->
                            <div class="pb-2">
                                <p class="text-sm text-grey-06 w-full py-2">
                                    <button class="icon-button --small inline text-action-primary hover:bg-action-lighter hover:text-action-dark" type="button" (click)="changeDirection()">
                                        <ds-icon [icon]="DS_IconsEnum.clockwise" *ngIf="isClockwise; else reverseClockwiseTmp;"></ds-icon>
                                        <ng-template #reverseClockwiseTmp>
                                            <ds-icon [icon]="DS_IconsEnum.reverse_clockwise" ></ds-icon>
                                        </ng-template>
                                    </button>
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.ROTATION.PART_1' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.ROTATION.PART_2' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.ROTATION.PART_3' | translate }}
                                </p>
                                <p class="text-sm font-medium text-grey-07 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.ROTATION.PART_4' | translate }}
                                </p>
                                <p class="text-xs text-grey-06 w-full">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.ROTATION.PART_5' | translate }}
                                </p>
                            </div>
                            <!-- SEPARATOR -->
                            <div class="w-full px-4 pb-2">
                                <div class="w-full border-b border-solid border-brand-lighter"></div>
                            </div>
                            <!-- DELETE  -->
                            <div class="pb-2">
                                <p class="text-sm text-grey-06 w-full py-2">
                                    <button class="icon-button --small inline text-danger-primary hover:bg-danger-lighter hover:text-danger-dark" type="button">
                                        <ds-icon [icon]="DS_IconsEnum.bin" ></ds-icon>
                                    </button>
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.DELETE.PART_1' | translate }}
                                </p>
                                <p class="text-sm text-grey-06 w-full py-2">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.DELETE.PART_2' | translate }}
                                </p>
                                <p class="text-xs text-grey-06 w-full">
                                    {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.STEP.DELETE.PART_3' | translate }}
                                </p>
                            </div>
                        </div>
                    </li>
                    <!-- JOURNEY_ENCODER - SUBMISSION BUTTON -->
                    <li>
                        <div class="w-full text-xs text-brand-dark uppercase font-medium pb-1 mt-4 mb-3">
                            {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.SUBMISSION.NAME' | translate }}
                        </div>
                        <div class="p-2 rounded bg-action-lighter relative mb-2">
                            <button class="button --primary --action button--auto">{{ 'PLAN.RECORD_JOURNEY.SUBMIT' | translate }}</button>
                            <p class="text-sm text-grey-06 w-full pb-2 pt-1">
                                {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.SUBMISSION.PART_1' | translate }}
                            </p>
                            <p class="text-sm text-grey-06 w-full pb-2">
                                {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.SUBMISSION.PART_2' | translate }}
                            </p>
                            <p class="text-sm text-grey-06 w-full pb-2">
                                {{ 'PLAN.HELP.HOW_IT_WORK.JOURNEY_ENCODER.SUBMISSION.PART_3' | translate }}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
