$root: ".textfield";

#{$root} {
    ////////////////////////////////////////////////////
    //
    //                  Global
    //
    ////////////////////////////////////////////////////

    @apply
        relative
        flex items-center
        w-full
        p-0
        cursor-text;

    &.--small {
        width: 150px;
    }

    &__field {
        @apply
            h-8 w-full
            m-0 p-2
            border border-grey-04
            rounded
            bg-grey-00
            text-grey-08 text-sm
            transition-colors;

        &::-ms-clear {
            @apply hidden;
        }

        &.-empty-mask,
        &::placeholder {
            @apply text-grey-03;
        }

    }

    &__button~#{$root}__field {
        @apply pr-6;
    }

    &__prefix,
    &__suffix {
        @apply
            absolute
            px-2
            text-grey-06
            text-center
            top-1/2
            -translate-y-1/2;
    }

    &__prefix {
        @apply left-0;
    }

    &__suffix {
        @apply right-0;
    }

    &__button {
        @apply
            absolute
            right-2
            top-1/2
            -translate-y-1/2
            cursor-pointer
            text-action-primary;
    }

    textarea.textfield__field {
        @apply
            resize-none
            h-40;
    }


    ////////////////////////////////////////////////////
    //
    //                  States
    //
    ////////////////////////////////////////////////////

    #{$root}__field:hover,
    #{$root}__field:focus-within,
    #{$root}__field:active {
        @apply border-action-primary;
    }

    #{$root}__field:focus-within,
    #{$root}__field:active {
        @apply border-2;
    }

    &.-error {
        #{$root}__field:hover,
        #{$root}__field:focus-within,
        #{$root}__field:active {
            @apply border-danger-primary;
        }
    }


    ////////////////////////////////////////////////////
    //
    //                  Variation
    //
    ////////////////////////////////////////////////////

    #{$root}__field:disabled,
    &.-disabled #{$root}__field {
        @apply border-grey-04 bg-grey-02;

        &:hover,
        &:focus-within,
        &:active {
            @apply border-grey-04;
        }
    }

    &.-error #{$root}__field {
        @apply border-danger-primary text-danger-primary;
    }

    &.-no-arrows {

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            @apply appearance-none m-0;
        }

        /* Firefox */
        input[type=number] {
            -moz-appearance: textfield;
        }
    }

    &.-search{
        #{$root}__field{
            @apply pr-8;
        }
        &::before{
            content: '';
            mask-image: url('~src/assets/icons/ds/search.svg');
            mask-size: 1.5rem;
            @apply absolute
                top-1/2 -translate-y-1/2
                right-2
                w-6
                h-6
                bg-grey-04;
        }
    }
}
