<ds-button [ngClass]="classes" [type]="type"
  [label]="{ label: label ? (label.label | translate: label.param) : 'Actions' }" [iconPlacement]="iconPlacement"
[icon]="icon" (clicked)="toggleMenu()"></ds-button>

@if (isOpened) {
  <div class="button-menu-items" (dsClickOutside)="toggleMenu()">
    @for (action of actions; track action) {
      <div class="button-menu-items__item">
        <ds-button [type]="DS_ButtonTypeEnum.LINK"
          [label]="{ label: (action.label.label | translate: action.label.param) }" (clicked)="buttonClicked(action)">
        </ds-button>
      </div>
    }
  </div>
}
