@if ((data | async); as listItems) {
  @if (listItems.length > 0) {
    <div class="flex flex-wrap gap py-1">
      @for (item of listItems; track item) {
        <ds-chips (chipsClick)="chipsClicked(item)" [label]="{ label: labelGetter(item, mainColumn) }"
        [clickable]="itemsClickabled"></ds-chips>
      }
    </div>
  }
}

@if (!readOnly && !(disabled$ | async)) {
  <ds-button [type]="DS_ButtonTypeEnum.LINK" [label]="label" [icon]="DS_IconsEnum.plus"
    [iconPlacement]="DS_button_icon_placement_Enum.before" (clicked)="openSelectionModal()"
    >
  </ds-button>
}
