/**
* CSS variables instanciation
*/

:root {
    --container-gutter-x: 12px;
    --col-gutter-x: 12px;

    --container-sm: 580px;
    --container-md: 640px;
    --container-lg: 960px;
    --container-xl: 1024px;
    --container-2xl: 1280px;

    --color-bridge : #1B556C;
    --color-building : #14849A;
    --color-map-background:#EEF0F2;
    --color-park:#BDE2C8;
    --color-water:#9CC0F9;

    --color-action-lighter: #dee6f4;
    --color-action-light: #5893f3;
    --color-action-primary: #2a70e0;
    --color-action-dark: #0a377e;
    --color-action-darker: #01122e;


    --color-success-lighter: #e0f2e8;
    --color-success-light: #29e07b;
    --color-success-primary: #0daa53;
    --color-success-dark: #076b34;
    --color-success-darker: #01200f;

    --color-danger-lighter: #FEEFEF;
    --color-danger-light: #f5696b;
    --color-danger-primary: #d71316;
    --color-danger-dark: #890608;
    --color-danger-darker: #300001;

    --color-warning-lighter: #f8f0ea;
    --color-warning-light: #f5b274;
    --color-warning-primary: #ff8113;
    --color-warning-dark: #ad5304;
    --color-warning-darker: #452101;

    --color-accent-lighter: #FFFDEA;
    --color-accent-light: #FFF470;
    --color-accent-primary: #FFEE24;
    --color-accent-dark: #aea224;
    --color-accent-darker: #504A01;

    --color-brand-lighter: #E8F4FC;
    --color-brand-light: #0883db;
    --color-brand-primary: #014e85;
    --color-brand-dark: #013d68;
    --color-brand-darker: #000305;

    --color-grey-00: #FFFFFF;
    --color-grey-01: #f2f5f8;
    --color-grey-02: #e7eaee;
    --color-grey-03: #d6d9dc;
    --color-grey-04: #afb3b7;
    --color-grey-05: #9ba0a3;
    --color-grey-06: #73787c;
    --color-grey-07: #5c6166;
    --color-grey-08: #32383e;
    --color-grey-09: #282b2f;
    --color-grey-10: #000000;
}

/**
* Base layer
*/

@import 'base/template';
@import 'base/typography';
@import 'base/bootstrap-grid';


/**
 * Components layer
 */

@import 'components/buttons';
@import 'components/modal';
@import 'components/map';
@import 'components/forms.textfield';
@import 'components/overlay';

// @import 'components/tags';
// @import 'components/tables';

// @import 'components/page-header';
// @import 'components/page-footer';

// @import 'components/forms.checkbox';
// @import 'components/forms.dropdown';
// @import 'components/forms.datepicker';
// @import 'components/forms.fieldreadonly';
// @import 'components/forms.radio';
// @import 'components/forms';
